.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  input[type=text] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  img {
    margin: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
  }
  
  h1 {
    font-size: 48px;
    background: -webkit-linear-gradient(#ee82ee, #8a2be2, #d01313, #08acaa, #ff00d9, #812bdd, #ff7f00, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  